.h1{
    background-color:blueviolet;
    color:cornsilk;
    font-size:60px;
    text-align:center;
    font-family:Arial, Helvetica, sans-serif

}
.menu{
    float:left;
    font-family: Arial, Helvetica, sans-serif;

}

#main-image{
    
    height: 750px;
    width: 100%;
    background: url("../assets/gardeningold.jpg") no-repeat center center;
    text-align: center;
    color:coral
}
#welcome{
    color:cornflowerblue;
    float:left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#main-outer{
    background-color: crimson;
    margin: 30px 0 20px 0;
}
    




