.h1{
    background-color:blueviolet;
    color:cornsilk;
    font-size:60px;
    text-align:center;
    font-family:'Courier New', Courier, monospace;

}
.menu{
    float:right;
    font-family:'Courier New', Courier, monospace;

}

#main-image{
    
    height: 600px;
    width: 100%;
    background: url("../images/gardeningold.jpeg") no-repeat center center;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#main-outer{
    background-color: crimson;
    margin: 30px 0 20px 0;
}
    




