@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Roboto&display=swap');



body {
    font-family: cormorant;
    margin:0 auto;



}

.fa-facebook-square{
    color:slategray;
}

.fa-twitter{
    color:slategray;
}

.fa-instagram{
    color:slategray;
}

#logo {

    font-family: cormorant, sans-serif;
    font-size: 60px;
    margin-left: 20px;
    margin-top: 0px;
    color: rgba(11, 240, 99, 0.808);
    padding: 0;


}

#navigation {
    letter-spacing: 4px;
    font-family: cormorant, sans-serif;
    color: slategrey;
    margin-right: 20px;
    display: inline;
    list-style-type: none;
    float: right;
    text-decoration: none;
    top: 0px;
    position: absolute;
    right: 0px;
}

#navigation li {
    letter-spacing: 4px;
    font-family: cormorant, sans-serif;
    color: slategrey;
    margin-right: 20px;
    display: inline;
    list-style-type: none;
    float: right;
    text-decoration: none;

}

#navigation a {
    text-decoration: none;
    color: inherit;
    font-family: roboto, sans-serif;
}

h1,
h2 {
    font-family: coromant, sans-serif;
    letter-spacing: 2px;
}

#navigation #logo {
    line-height: 40px;
}

#navigation a:hover {
    border-bottom: 1px solid;
}

.active {
    border-bottom: 1px solid;
}

#main-image {
    background: url("../images/gardeningold.jpg") no-repeat center center;
    width: 100%;
    height: 1100px;
    clear: both;
    padding-left: 20px;
    padding-right: 20px;
    background-position: center;

}

#text-box,
#text-box h2 {
    color: white;
}

#text-box {
    font-size: 30px;

    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;

    width: 450px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;
    




    bottom: 80px;
    right: 100px;

    position: absolute;
    text-decoration: none;

}

#text-box a {
    text-decoration: none;
    font-family: Roboto, sans-serif;
    color: white
}

#text-box a:hover {
    border-bottom: 1px solid;
}


/*about-page CSS below*/

#about-image {
    background: url("../images/cutting\ olives.jpg") no-repeat center center;
    width: 100%;
    height: 1100px;
    clear: both;
    padding-left: 20px;
    padding-right: 20px;
    background-position: bottom;

}

#about-text-box {

    font-size: 15px;

    font-family: Roboto, sans-serif;

    letter-spacing: 2px;

    width: 450px;
    height: 250px;

    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 40px;

    background-color: rgba(9, 14, 11, 0.322);
    color: white;


    bottom: 200px;
    left: 100px;

    position: absolute;
    text-decoration: none;
}

#showroom {
    font-size: 15px;

    font-family: Roboto, sans-serif;

    letter-spacing: 2px;

    width: 450px;
    height: 200px;

    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 40px;

    background-color: rgba(9, 14, 11, 0.322);
    color: white;


    bottom: 200px;
    right: 100px;

    position: absolute;
    text-decoration: none;
}

#form {
    font-family: Roboto, sans-serif;
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(9, 14, 11, 0.322);
    max-width: 400px;
    position: absolute;
    padding: 30px;
    right: 10%;
    top: 5%;


}

.forminput {

    background: transparent;
    color: #fafafa;
    height: 35px;
    width: 100%;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}


::placeholder {
    color: white;
    opacity: 1;
}







#contact-image {
    background: url("../images/coffeebeans.jpg") no-repeat center center;
    width: 100%;
    height: 700px;
    clear: both;


}




#tour-images {

    clear: both;
    line-height: 2px;
    column-count: 3;
    column-gap: 1%;
    text-align: center;
}

.social>li {
    display: inline;

    color: slategray;
    text-decoration: none;
    font-size: 40px;
    padding: 20px;


}

.footer {
    text-decoration: none;
    text-align: center;
}




/*media query for tablets*/
@media screen and (max-width: 1200px) {



    #about-image {

        height: 1200px;
        padding: 0%;
        margin: 0 auto;



    }

    #showroom {
        width: 100%;
        height: 250px;
        position: absolute;
        top: 160px;
        margin: 0 auto;
        padding: 0;
        left: 0;
        right: 0;



        clear: both;
        text-align: center;
    }

    #showroom ul {
        list-style: none;
    }

    #about-text-box {
        width: 100%;
        height: 250px;
        position: absolute;
        top: 450px;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding: 0;

        text-align: center;
    }
}




footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: slategray;

}

/*START media query for SMARTPHONE*/
@media screen and (max-width: 700px) {


#text-box h2 {
    text-align: center;
    float: right;
    font-size: 15px;
    right: 10px;
}

    #text-box h2 a {

      
        float: left;
        font-size: 10px;

        bottom: 0px;
        left: 0px;
    }

    #text-box {
        font-size: 20px;

        font-family: Roboto, sans-serif;
        text-transform: uppercase;
        letter-spacing: 2px;

        width: 450px;
        height: 200px;

        padding-top: 40px;
        padding-left: 10px;

        bottom: 150px;
        
    }

    footer li {
        letter-spacing: 2px;
        font-family: cormorant, sans-serif;
        color: slategrey;
        margin-right: 30px;
        list-style-type: none;
        font-size: 3px;

        text-decoration: none;
    }

    footer {
        height: 70px;
        width: 100%;
        float: right;
    }

    footer p {
        font-size: 20px;
    }

    #main-image {
        background: url("../images/gardeningold.jpg") no-repeat center center;
        width: 100%;
        height: 650px;
       padding-left: 40px;
        padding-right: 80px;
        position:fixed;
        margin-left: 0;
        margin-right: 0;
        
        }

       #main-section{
            width:100%;
            margin-left:0px;
            margin-right:0px;
            overflow:auto; 
        }
    #navigation {
        width: 70%;


        position: inherit;
        font-size: 15px;
        font-weight: normal;
        display:contents;
    }

    #navigation li {


        letter-spacing: 4px;
        font-family: cormorant, sans-serif;
        color: slategrey;
        margin-right: 20px;
        

        list-style-type: none;
        text-decoration: none;
        margin-left: 0px;
        

    }

    #about-image {
        background: url("../images/cutting\ olives.jpg") no-repeat center center;
        width: 100%;
        height: 650px;
       
        
        overflow:auto;


    }
    #about-section{
        width:100%;
        margin-left:0px;
        margin-right:0px;
        
    }

    #showroom {
        width: 100%;
        height: 250px;
        position: absolute;
        top: 130px;
        margin: 0 auto;
        padding: 0;
        
        right: 0;



        clear: both;
        text-align: center;
    }

    #about-text-box {
        width: 100%;
        height: 280px;
        position: absolute;
        top: 390px;
        
        right: 0;
        margin: 0 auto;
        padding: 0;

        text-align: center;
    }

    #contact-image {
        background: url("../images/coffeebeans.jpg") no-repeat center center;
        width: 100%;
        height:650px;
        

        margin-left: 0;
        margin-right: 0;
    }

    #form {

        font-family: Roboto, sans-serif;
        margin: 0 auto;
        color: #fff;
        background-color: rgba(60, 60, 60, 0.332);
        max-width: 200px;
        position: absolute;
        padding: 30px;
        right: 15%;
        top: 140px;
        font-size: 13px;
    }

    ::placeholder {
        color: white;
        opacity: 1;
    }

    .forminput {

        background: transparent;
        color: #fafafa;
        height: 35px;
        width: 100%;
        margin: 5px 0 20px 0;
        border: 1px solid #fafafa;
        border-radius: 2px;
    }

    #photos {
        width: 100%;



        margin-left: 0;
        margin-right: 0;
    }

    #photos img {
        max-width: 100%;
        max-height: fit-content;
    }
    .social>li {
        display: inline;
    
        color: slategray;
        text-decoration: none;
        font-size: 30px;
        padding: 20px;
    }


}
@media screen and (max-width: 360px) {
   /*#text-box h2 {
        visibility: hidden;
    }*/

    #text-box {
        font-size: 10px;

        font-family: Roboto, sans-serif;
        text-transform: uppercase;
        letter-spacing: 2px;

        width: 150px;
        height: 50px;

        padding-top: 40px;
        padding-left: 10px;

        bottom: 150px;
        
    }
    footer li {
        letter-spacing: 2px;
        font-family: cormorant, sans-serif;
        color: slategrey;
        margin-right: 30px;
        list-style-type: none;
        font-size: 3px;

        text-decoration: none;
    }

    footer {
        height: 40px;
        width: 100%;
        float: right;
    }

    footer p {
        font-size: 20px;
    }
#navigation {
    width: 100%;


    position: inherit;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    display:inline;
}

#navigation li {
letter-spacing: 2px;
    font-family: cormorant, sans-serif;
    color: slategrey;
    margin-right: 20px;

    list-style-type: none;
    text-decoration: none;
    margin-left: 0px;
    text-align:center;
    font-size:12px;

}
.social>li {
    display: inline;

    color: slategray;
    text-decoration: none;
    font-size: 15px;
    padding: 20px;
}
#about-text-box {
    width: 100%;
    height: 250px;
    position: absolute;
    top: 420px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0;
    font-size:10px;

    text-align: center;
}
#showroom {
    width: 100%;
    height: 250px;
    position: absolute;
    top: 160px;
    margin: 0 auto;
    padding: 0;
    
    right: 0;



    clear: both;
    text-align: center;
}
#form {

    font-family: Roboto, sans-serif;
    margin: 0 auto;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.332);
    max-width: 200px;
    position: absolute;
    padding: 30px;
    right: 15%;
    top: 170px;
    font-size: 13px;
}
}

/* End of mediaquery SMARTPHONE*/