@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Roboto&display=swap');

body {
    font-family: cormorant;
    font-weight: 200px;
    width: 100%;
    color: blue;

}

#logo {
    float: left;
    font-family: cormorant, sans-serif;
    font-size: 60px;
    margin-left: 0px;
    margin-top: 0px;
    color: rgba(11, 240, 99, 0.808);
    padding: 0;

}

#navigation li {
    letter-spacing: 4;
    font-family: cormorant, sans-serif;
    color: slategrey;
    margin-right: 30px;
    list-style-type: none;
    float: right;
    text-decoration: none;

}

#navigation a {
    text-decoration: none;
    color: inherit;
    font-family: roboto, sans-serif;
}

h1,
h2 {
    font-family: coromant, sans-serif;
    letter-spacing: 2px;
}

#navigation,
#logo {
    line-height: 40px;
}

#navigation a:hover {
    border-bottom: 1px solid;
}

.active {
    border-bottom: 1px solid;
}

#main-image {
    background: url("/assets/images/gardeningold.jpg") no-repeat center center;
    width: 100%;
    height: 1100px;
    clear: both;
    border: radius 2px;
    padding-left: 20px;
    padding-right:20px;

}

#text-box,
#text-box h2 {
    color: white;
}

#text-box {
    font-size: 80px;
    font-size: 130%;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;

    width: 450px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    /*background-color: rgba(11, 240, 99, 0.808); */


    bottom: 70px;
    right: 100px;

    position: absolute;
    text-decoration: none;

}

#text-box a {
    text-decoration: none;
    font-family: Roboto, sans-serif;
    color: white
}

#text-box a:hover {
    border-bottom: 1px solid;
}


/*about-page CSS below*/

#about-image {
    background: url("/assets/images/cutting\ olives.jpg") no-repeat center center;
    width: 100%;
    height: 700px;
    clear: both;
    border: radius 2px;
}

#about-text-box {

    font-size: 15px;
    /*font-size: 100%;*/
    font-family: Roboto, sans-serif;

    letter-spacing: 2px;

    width: 450px;
    height: 250px;

    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 40px;

    background-color: rgba(9, 14, 11, 0.322);
    color: white;


    bottom: 200px;
    left: 100px;

    position: absolute;
    text-decoration: none;
}

#showroom {
    font-size: 15px;
    /*font-size: 100%;*/
    font-family: Roboto, sans-serif;

    letter-spacing: 2px;

    width: 450px;
    height: 200px;

    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 40px;

    background-color: rgba(9, 14, 11, 0.322);
    color: white;


    bottom: 200px;
    right: 100px;

    position: absolute;
    text-decoration: none;
}

#form {
    font-size: 15px;
    /*font-size: 100%;*/
    font-family: Roboto, sans-serif;

    letter-spacing: 2px;

    width: 450px;
    height: 200px;

    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 40px;

    background-color: rgba(9, 14, 11, 0.322);
    color: white;


    bottom: 200px;
    right: 100px;

    position: absolute;
    text-decoration: none;

}

#contact-image {
    background: url("/assets/images/coffeebeans.jpg") no-repeat center center;
    width: 100%;
    height: 700px;
    clear: both;
    border: radius 2px;

}

.form {
    float: right;
}

#tour-images {

    clear: both;
    line-height: 1;
    column-count: 3;
    column-gap: 1;
    text-align: center;
}

#tour-textbox {
    font-size: 30px;
    /*font-size: 100%;*/
    font-family: Roboto, sans-serif;

    letter-spacing: 2px;

    width: 800px;
    height: 400px;

    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 40px;

    background-color: rgba(9, 14, 11, 0.322);
    color: white;


    bottom: 100px;
    left: 600x;

    position: absolute;
    text-decoration: none;
}

@media screen and (max-width: 1200px) {
   
    #about-tex-box {
        width: 200px;
        height: 400px;
        position: absolute;
        top:0px;
        left:0px;

    }

    #about-image {
        width: 80%;
        height: 1200px;
        padding: 0%;
        margin: 0 auto;
    }

    #showroom {
        font-size: 15px;
        /*font-size: 100%;*/
        font-family: Roboto, sans-serif;
    
        letter-spacing: 2px;
    
        width: 450px;
        height: 200px;
    
        padding-top: 10px;
        padding-left: 10px;
        padding-bottom: 40px;
    
        background-color: rgba(9, 14, 11, 0.322);
        color: white;
    clear:both;
    
        bottom: 200px;
        right: 100px;
    
        position: absolute;
        text-decoration: none;
    } 
}


    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: white;
        color: slategray;
        
    }


