@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Roboto&display=swap');



body {
    font-family: cormorant;
    font-weight: 200px;
    width: 100%;
    color: blue;

}

#logo {
    float: left;
    font-family: cormorant, sans-serif;
    font-size: 60px;
    margin-left: 20px;
    margin-top: 0px;
    color: rgba(11, 240, 99, 0.808);
    padding: 0;

}

#navigation li {
    letter-spacing: 4;
    font-family: cormorant, sans-serif;
    color: slategrey;
    margin-right: 30px;
    list-style-type: none;
    float: right;
    text-decoration: none;

}

#navigation a {
    text-decoration: none;
    color: inherit;
    font-family: roboto, sans-serif;
}

h1,
h2 {
    font-family: coromant, sans-serif;
    letter-spacing: 2px;
}

#navigation,
#logo {
    line-height: 40px;
}

#navigation a:hover {
    border-bottom: 1px solid;
}

.active {
    border-bottom: 1px solid;
}

#main-image {
    background: url("../images/gardeningwomanwhitehair.jpg") no-repeat center center;
    width: 100%;
    height: 1100px;
    clear: both;
    border: radius 2px;
    padding-left: 20px;
    padding-right:20px;

}

#text-box,
#text-box h2 {
    color: white;
}

#text-box {
    font-size: 80px;
    
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;

    width: 450px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    


    bottom: 70px;
    right: 100px;

    position: absolute;
    text-decoration: none;

}

#text-box a {
    text-decoration: none;
    font-family: Roboto, sans-serif;
    color: white
}

#text-box a:hover {
    border-bottom: 1px solid;
}


/*about-page CSS below*/

#about-image {
    background: url("/assets/images/cutting\ olives.jpg") no-repeat center center;
    width: 100%;
    height: 700px;
    clear: both;
    border: radius 2px;
}

#about-text-box {

    font-size: 15px;
   
    font-family: Roboto, sans-serif;

    letter-spacing: 2px;

    width: 450px;
    height: 250px;

    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 40px;

    background-color: rgba(9, 14, 11, 0.322);
    color: white;


    bottom: 200px;
    left: 100px;

    position: absolute;
    text-decoration: none;
}

#showroom {
    font-size: 15px;
    
    font-family: Roboto, sans-serif;

    letter-spacing: 2px;

    width: 450px;
    height: 200px;

    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 40px;

    background-color: rgba(9, 14, 11, 0.322);
    color: white;


    bottom: 200px;
    right: 100px;

    position: absolute;
    text-decoration: none;
}

#form  {
    font-size: 15px;
    
    font-family: Roboto, sans-serif;

    letter-spacing: 2px;

    width: 450px;
    height: 300px;

    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 40px;

    background-color: rgba(9, 14, 11, 0.322);
    color: white;
    float:left;


    bottom: 200px;
    right: 100px;

    position: absolute;
  

}

#contact-image {
    background: url("/assets/images/coffeebeans.jpg") no-repeat center center;
    width: 100%;
    height: 700px;
    clear: both;
    border: radius 2px;

}




#tour-images {

    clear: both;
    line-height: 2;
    column-count: 3;
    column-gap: 1;
    text-align: center;
}

#tour-textbox {
    font-size: 30px;
    
    font-family: Roboto, sans-serif;

    letter-spacing: 2px;

    width: 800px;
    height: 400px;

    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 40px;

    background-color: rgba(9, 14, 11, 0.322);
    color: white;


    bottom: 100px;
    left: 600x;

    position: absolute;
    text-decoration: none;
}
/*media query for tablets*/
@media screen and (max-width: 1200px) {
   


    #about-image {
        
        height: 1200px;
        padding: 0%;
        margin: 0 auto;
        
       

    }
    #showroom{
    width: 100%;
    height: 250px;
    position: absolute;
    top:160px;
    margin:0 auto;
    padding:0;
    left:0;
    right:0;
    
   
    clear:both;
    text-align:center; }

    #about-text-box{
    width: 100%;
    height: 250px;
    position: absolute;
    top:450px;
    left:0;
    right:0;
    margin:0 auto;
    padding:0;
   
    text-align:center;
    }
}
    



    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: white;
        color: slategray;
        
    }
/*media query for smartphones*/
    @media screen and (max-width: 800px) {
        #navigation {
            clear:left;
            float:left;
            margin: 0 auto;

        }

        #log{
            float:left;
            Clear:left;
        }

   
        #text-box{
            clear:left;
            float:left;
        }
    }
